/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


/* общая стилистика */
body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #DCDCDC ;
}
/* работа с шапкой */
.header p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
    margin-bottom: 40px;
    margin-left: 550px;
    color: #273d46;
}

.header h1 {
    font-size: 30px;
    text-align: center;
    margin-left: 390px;
    margin-right: 300px;
    color: #273d46;
    width: 400px;
    height: 80px;
}

.blokimages{
    width: 550px;
    height: 350px;
    min-width: 550px;
    min-height: 350px;
    border: 5px #fff solid;
    margin: 0px 310px;
    margin-top: 3%;
    margin-bottom: 50px;
    box-shadow: -10px 15px 40px 1px black;
    background: url('/phoding Project/images/photo_1.jpg') center no-repeat;
    background-size: cover;
}

.blok1{
    font-size: 16px;
    color: #273d46bd;
    width: 500px;
    height: 100px;
    margin: 0px 330px;
    line-height: 30px;
}

.blok2{
    font-size: 16px;
    color: #273d46bd;
    width: 500px;
    height: 100px;
    margin: 0px 330px;
    line-height: 30px;
}


/* Работа со списком */
.listblok{
    margin-left: 330px;
    margin-bottom: 10px;
}

.list li{
    line-height: 30px;
    background: url('/phoding Project/images/check icon.png') no-repeat 0 4px;
    padding-left: 24px;
}

.list{
    padding: 10px 0;
    color: #273d46;

}

.list1{
    font-weight: bold;
}

 .list2{
     font-style: italic;
     color: #80b7b3;
 }

 .list3{
     font-weight: bolder;
 }

 .list4{
     text-decoration: line-through ;
     color: #273d463f;
 }
 
 /* работа с кнопкой */

 a{
     text-decoration: none;
     color: white;
 }
 a:hover{
    border-bottom: 1px solid;
 }

 .button{
     font-size: 12px;
     background: url('/phoding Project/images/Shape 2.png') 120px 2.5px no-repeat;
     padding-right: 20px;
     font-family: Arial, Helvetica, sans-serif;
     background-color: #80b7b3; 
     color: white;
     width: 150px;
     text-align: center;
     margin-left: 330px;
     padding: 3px 0;
     border-radius: 25px;
     box-shadow: 1px 1px 25px 1px #80b7b3 ;
 }


