@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 14px;
}

.loudMore button {
  border: 1px black solid;
}

.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .logo {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 10px;
  margin-left: 70px;
}

.header .menu {
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

.header .menu a {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 50px;
}

.header .menu a:hover {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.384);
  -webkit-text-decoration: underline 1px black;
          text-decoration: underline 1px black;
}

.header__img {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.header__img img {
  display: block;
  margin: 100px;
}

.content .conteiner {
  max-width: 900px;
  margin: 0 auto;
}

.content .conteiner .blok__1 {
  margin-bottom: 130px;
  font-size: 14px;
}

.content .conteiner .blok__1 p {
  line-height: 20px;
}

.content .conteiner .blok__1 p:first-child {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #c2bfba;
}

.content .conteiner .blok__1 p:first-child:hover {
  font-size: 16px;
}

.content .conteiner .blok__1 p:nth-child(2) {
  font-size: 30px;
  margin-bottom: 35px;
}

.content .conteiner .blok__1 p:last-child {
  text-transform: uppercase;
  margin-top: 30px;
  color: #c2bfba;
}

.content .conteiner .blok__1 p:last-child:hover {
  font-size: 16px;
}

.content .conteiner .blok__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 120px;
}

.content .conteiner .blok__2 .colum {
  margin: 10px;
  width: 430px;
  height: auto;
  line-height: 20px;
}

.content .conteiner .blok__2 .colum .comment {
  color: #c2bfba;
  text-transform: uppercase;
  font-size: 14px;
  margin: 30px 0px;
}

.content .conteiner .blok__2 .colum .comment:hover {
  font-size: 16px;
}

.content .conteiner .blok__2 .colum .heading {
  font-size: 20px;
  margin-bottom: 30px;
}

.content .conteiner .blok__2 .colum .img__1 {
  background-size: cover;
  width: 400px;
  height: 280px;
  background: url(/github/1.png) center no-repeat;
}

.content .conteiner .blok__2 .colum .img__1:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.content .conteiner .blok__2 .colum .img__2 {
  background-size: cover;
  width: 400px;
  height: 280px;
  background: url(/github/2.png) center no-repeat;
}

.content .conteiner .blok__2 .colum .img__2:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.content .conteiner .blok__2 .colum .img__3 {
  background-size: cover;
  width: 400px;
  height: 280px;
  background: url(/github/3.png) center no-repeat;
}

.content .conteiner .blok__2 .colum .img__3:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.content .conteiner .blok__2 .colum .img__4 {
  background-size: cover;
  width: 425px;
  height: 285px;
  background: url(/github/4.png) center no-repeat;
}

.content .conteiner .blok__2 .colum .img__4:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.blok__3 {
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: #F0F0F0;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.blok__3 .item__blok__3 {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.blok__3 .item__blok__3 p {
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 50px;
}

.blok__3 .item__blok__3 .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blok__3 .item__blok__3 .input .input__1 {
  background-color: #F0F0F0;
  border-bottom: 1px solid black;
}

.blok__3 .item__blok__3 .input .input__2 {
  margin-left: 5px;
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0);
  background: url(/github/sumbit_icons.png) left no-repeat;
}

.blok__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 160px;
}

.blok__4 .colum {
  margin: 10px;
  width: 430px;
  height: auto;
  line-height: 20px;
}

.blok__4 .colum .comment {
  color: #c2bfba;
  text-transform: uppercase;
  font-size: 14px;
  margin: 30px 0px;
}

.blok__4 .colum .comment:hover {
  font-size: 16px;
}

.blok__4 .colum .heading {
  font-size: 20px;
  margin-bottom: 30px;
}

.blok__4 .colum .img__5 {
  width: 400px;
  height: 280px;
  background: url(/github/5.png) no-repeat center;
}

.blok__4 .colum .img__5:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.blok__4 .colum .img__6 {
  width: 400px;
  height: 280px;
  background: url(/github/6.png) no-repeat center;
}

.blok__4 .colum .img__6:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.loudMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
}

.loudMore button {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  width: 165px;
  height: 60px;
}

.loudMore button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #c2bfba;
}
